## 18/02/2026

## PYTHON PROGRAMMING TEST

## section A:

In [47]:
#Q1.
items = [("A", 90), ("B", 95), ("C", 95), ("D", 85)]
k = 2
def top_k(items, k):
    items.sort(key=lambda x: x[1], reverse=True)
    return items[:k]
print(top_k(items, k))

[('B', 95), ('C', 95)]

In [39]:
#Q2.
def count_by_category(pairs):
    d = {}
    for cat, word in pairs:
        d.setdefault(cat, {})
        d[cat].setdefault(word, 0)
        d[cat][word] =+ 1
    return d

In [48]:
print(count_by_category(pairs))

{'sports': {'win': 1}, 'tech': {'ai': 1}}

In [32]:
#Q3.
def missing_number(nums):
    n = len(nums)
    total = n * (n + 1) / 2
    return int(total - sum(nums))

In [33]:
nums = [3, 0, 1]
print(missing_number(nums))

2

In [54]:
# Q4.
def add_unique(x, seen=None):
    if seen is None:
        seen = set()
    if x not in seen:
        seen.add(x)
    return list(seen)
(print(add_unique(1)))
(print(add_unique(2)))

[1]
[2]

In [1]:
# Q10
def parse(lines):
    parsed_data = []
    for line in lines:
        [
"John,25,90",
"John,25,80",
"Anna,130,70",
"Bob,20,105"
]
        return parsed_data
{
    "John:25, 85.0"
}

{'John:25, 85.0'}